body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    margin-bottom: 10px;
}

a {
    display: block;
    margin-bottom: 1.4em;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.sect1 {
    float: left;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logs {
    float: right;
    width: 45%;
    height: 200px;
    overflow-y: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    border-radius: 20px;
    white-space: pre-wrap;
}

button {
    padding: 14px 28px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

#reCon {
    background-color: #28a745;
    color: white;
}

#disCon {
    background-color: #dc3545;
    color: white;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    list-style: none;
    gap: 10px;
}

.control-container li {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.control-container span {
    margin-right: 30px;
}

.control-container button {
    height: 50px;
    width: 80px;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
}

@media (max-width: 768px) {

    .sect1,
    #logs {
        float: none;
        width: 100%;
        display: block;
    }

    .button-container {
        flex-direction: column;
        gap: 5px;
    }
}
